@import "./assets/styles/font.css";
@import "tailwindcss";
@plugin "daisyui";

/* ======================
   Light theme (default)
====================== */
:root {
  --bg-main: #ffffff;
  --text-main: #292929;
  --brand-primary: #006b36;
  --brand-secondary: #292929;
  --gray-primary: #808080;
  --gray-secondary: #eeeeee;
  --error: #d10000;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}

/* ======================
   Dark theme
====================== */
body {
  @apply font-roboto text-base;
  color: var(--text-main);
  background-color: var(--bg-main);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}

.section {
  padding-block: 66px;
}

.section--muted {
  background: #f6f3ee;
}

.btn-brand-primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
}

.btn-brand-primary:hover {
  border-color: var(--brand-secondary);
  background-color: var(--brand-secondary);
}

.btn-brand-secondary {
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

.btn-brand-secondary:hover {
  color: var(--brand-secondary);
  border-color: var(--brand-secondary);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
